<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "icon gazou", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",    root_path %></li>
        <li><%= link_to "探す",    "#" %></li>
        <li><%= link_to "写真をみる",    "#" %></li>
        <li><%= link_to "よくある質問",    help_path %></li>
        <li><%= link_to "登録", new_user_registration_path %></li>
      </ul>
    </nav>
  </div>
</header>

