<%= form_with(url: photographers_path, method: :get, local: true) do %>
  <%= label_tag :search, "名前で検索" %>
  <%= text_field_tag :search, params[:search] %>&emsp;
  <%= label_tag :tag, "タグで検索" %>
  <%= text_field_tag :tag, params[:tag] %>
  <%= submit_tag "検索", name: nil %>
<% end %>
<% @example_tags.each do |tag| %>
  <%= link_to tag, photographers_path(tag: tag) %>
<% end %>
</p>
<% if @photographers.present? %>
  <ul>
    <% @photographers.each do |photographer| %>
      <ul>
        <%= link_to photographer.name, photographer_path(photographer) %>
      </ul>
    <% end %>
  </ul>

  <%= paginate @photographers %>
<% end %>
