<% if @photographer %>
  <p>
    <strong>ユーザー名</strong>
    <%= @photographer.name %>
  </p>
  <p>
    <strong>e-mail</strong>
    <%= @photographer.email %>
  </p>

  <p>
  <strong>自己紹介:</strong>
  <%= @photographer.description %>
</p>

<% @photographer.portfolios.each do |portfolio| %>
  <% portfolio.images.each do |image| %>
    <%= image_tag image, class: "img-responsive" %>
  <% end %>
<% end %>

<% if photographer_signed_in? && current_photographer == @photographer %>
  <%= link_to 'アカウント編集', edit_registration_path(@photographer) %>
  <p><%= link_to 'マイページ編集', edit_photographer_path(@photographer) %></p>
<%= link_to 'ポートフォリオを編集', new_photographer_portfolio_path(@photographer) %>

<% end %>


<% else %>
  <p>ユーザーが存在しません</p>
<% end %>
