<% if @photographer %>
  <p>
    <strong>ユーザー名</strong>
    <%= @photographer.name %>
  </p>
  <p>
    <strong>e-mail</strong>
    <%= @photographer.email %>
  </p>

  <p>
  <strong>自己紹介:</strong>
  <%= @photographer.description %>
</p>
</p>

<% if user_signed_in? && current_user.liked?(@photographer) %>
  <%= button_to 'いいね解除', photographer_like_path(@photographer), method: :delete, data: { confirm: '本当に解除しますか?' } %>
<% elsif user_signed_in? %>
  <%= button_to 'いいね', photographer_like_path(@photographer), method: :post %>
<% end %>

<%= link_to '依頼を作成', new_photographer_request_path(@photographer) %>



<h3>タグ</h3>
<% @photographer.tags.each do |tag| %>
  <%= link_to tag.name, photographers_path(tag: tag.name) %>
<% end %>

<br />
<% @photographer.portfolios.each do |portfolio| %>
  <% portfolio.images.each do |image| %>
    <%= image_tag image, class: "img-responsive" %>
  <% end %>
<% end %>
<br />
<% if photographer_signed_in? && current_photographer == @photographer %>
  <%= link_to 'アカウント編集', edit_registration_path(@photographer) %>
  <p><%= link_to 'マイページ編集', edit_photographer_path(@photographer) %></p>
<%= link_to '写真を追加', new_photographer_portfolio_path(@photographer) %><br />
<%= link_to '写真を削除', destroy_form_photographer_portfolios_path(@photographer), method: :get %>
<% end %>


<% else %>
  <p>ユーザーが存在しません</p>
<% end %>
